/*CSS file corresponding to index.html */

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

.form_box {
  padding: 10px;
}

.form_way {
  padding: 10px;
}

.form_box .export_box {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
}

.form_box .export_box #maxlat {
  margin-top: -1px;
}

.form_box .export_box #minlon {
  float: left;
  margin-left: -1px;
}

.form_box .export_box #maxlon {
  float: right;<br>
  margin-right: -1px;
}

.form_box .export_box #minlat {
  margin-bottom: 0;
}

.form_box .export_box .export_bound {
  margin: 5px;
}

.startpage {
  background-color: #555;
  color: white;
  padding: 15px;
}

.status_text {
  padding: 10px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
}

select {
  width: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}
